@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark: #2b2d42;
    --violetty: rgba(144, 120, 173, 0.8);
    --bluetty: rgba(118, 136, 169, 0.2);
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}
body {
    background-color: var(--bluetty);
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.container {
    text-align: center;
}
.title-container {
    letter-spacing: 0.15rem;
    width: 40%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
    background-color: var(--violetty);
    border: none;
    box-shadow: 2px 2px 2px 1px grey;
}
form input {
    padding: 8px 10px;
    border-radius: 10px;
    min-width: 40%;
    text-indent: 2px;
    font-weight: 500;
}
form button {
    padding: 7px 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.task-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 15px auto;
}
.task-box{
    margin-top: 25px;
}

.task-delete {
    padding: 5px 10px;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
form button:active {
    background-color: darkgreen;
}
.task-delete:active {
    background-color: darkred;
}

.main-container {
    width: 40%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 2px 2px 1px grey;
    padding: 30px 0;
}
li {
    font-weight: bold;
}
